target
.classpath
.project
.settings/
.gradle
.idea
.iml

build
.class

Logging
test-output
build/
.DS_Store

postContentAdvertisingSetting.json
postContentApplication.json
postContentAppVersion.json
postContentDatabaseVersion.json
postContentPlatform.json
postContentPreCachingConfiguration.json
postContentPlatformVenueTexas.json
